@import "bootstrap";

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  body {
    display: flex;
    flex-direction: column;
  }

  header, footer {
    background-color: #f0f0f0;
    padding: 10px;
  }

  main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main-content {
    text-align: center;
  }

  .main-content h1 {
    font-size: 36px;
    margin-bottom: 10px;
  }

  .main-content p {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .btn-comprar {
    display: inline-block;
    background-color:007bff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
  }

  .suscripcion {
    margin-top: 30px;
  }

  .enlaces-relevantes {
    text-align: center;
  }

  .enlaces-relevantes ul {
    list-style: none;
    padding: 0;
  }

  .enlaces-relevantes li {
    display: inline-block;
    margin-right: 20px;
  }

  .carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .collage-image {
    max-width: 33.33%;
    max-height: 33.33%;
    object-fit: contain;
    border-radius: 5px;
  }

  .footer-btn {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    font-size: 16px;
    margin-right: 10px;
    margin-bottom: 10px;
    /* Añadimos los siguientes estilos para el efecto al poner el cursor encima */
    transition: background-color 0.3s ease;
    cursor: pointer;
  }

  .enlaces-relevantes li {
    display: inline-block;
    margin-right: 10px;
  }
