<nav class="enlaces-relevantes">
    <ul>
      <li><%= link_to "Catálogo", catalogo_path %></li>
      <li><%= link_to "Ofertas", ofertas_path %></li>
      <li><%= link_to "Artistas", artistas_path %></li>
      <li><%= link_to "Contacto", contacto_path %></li>
    </ul>
  </nav>
